################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/WHMCS_API.0.4.3.nupkg
/WHMCS API.nuspec
/WHMCS_API.0.6.9.nupkg
/WHMCS_API.0.6.10.nupkg
