################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/WHMCS_API.0.4.3.nupkg
/WHMCS API.nuspec
/WHMCS_API.0.6.9.nupkg
/WHMCS_API.0.6.10.nupkg

dotNET Core 3.0.10/WHMCS_API/.vs/WHMCS_API/xs/sqlite3/storage.ide

dotNET Core 3.0.10/WHMCS_API/.vs/WHMCS_API/xs/sqlite3/storage.ide-shm

dotNET Core 3.0.10/WHMCS_API/.vs/WHMCS_API/xs/sqlite3/storage.ide-wal

dotNET Core 3.0.10/WHMCS_API/.vs/WHMCS_API/xs/UserPrefs.xml
